body {
    position: absolute;
    width: 1200px;
    height: 2336px;
    left: -10px;
    font-family: 'Courier New', Courier, monospace;    
}

/* FLEXBOX USED INTHIS SECTION */
.header_flexbox {
    position: relative;
    z-index: 2;
    justify-content: center;
    display: flex;
    top: 40px;
}

.header_link {
    font-family: 'Source Sans Pro';
    padding: 30px;
    text-decoration: none;
    color: #ffffff;    
}

.header_project {
    position: relative;
    z-index: 5;
    color: #fff;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 16px;
    left: 152px;
    top: 45px;
}

.hero {
    position: relative;
    width: 1200px;
    height: 800px;
    left: 0px;
    top: -50px;

    background: url(../assets/background.png);
       
}

.hero_h1 {
    position: absolute;
    width: 386px;
    height: 118px;
    left: 407px;
    top: 328px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center; 
    color: #FFFFFF;
}

.hero_p1 {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */
    position: absolute;
    width: 426px;
    height: 56px;
    left: 387px;
    top: 488px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.placeholder_logo {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 568px;
    top: 290px; 
}


.main {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 10px;
    top: 780px;
}


/* GRID USED IN THIS STYLE */
.main_paragraph {
    display: grid;
    grid-template-columns: 408px 408px;
    grid-column-gap: 60px;
    position: relative;
    width: 1000px;
    height: 194px;
    left: 150px;
    top: 350px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.main_paragraph > *{
    text-align: left;
}


.main_h1 {
    position: absolute;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 0px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
}

.main_h2 {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */
    position: absolute;
    width: 426px;
    height: 57px;
    left: 387px;
    top: 200px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}

.main_button {
    /* Content-button */
    position: absolute;
    width: 115px;
    height: 36px;
    left: 542px;
    top: 596px;
    border: none;
    color: #fff;
    border-radius: 18px;
    background-color: #55cad8;
}

#rectangle_main {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: -10px;
    top: 10px;
    background: #EEEEEE;
}


.learn_more_block {
    position: absolute;
    width: 480px;
    height: 492px;
    left: 360px;
    top: 0px; 
    
}

.learn_more_h2 {
    /* Learn more about our culture... */
    position: absolute;
    width: 480px;
    height: 117px;
    left: 0px;
    top: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
}

.learn_more_p {
    /* Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. */
    position: absolute;
    width: 390px;
    height: 102px;
    left: 35px;
    top: 400px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}

.learn_more_button {
    /* Learn-more-button */
    position: absolute;
    width: 150px;
    height: 150px;
    left: 155px;
    top: 220px;
}

#learn_more_rectangle {
    /* Rectangle */
    position: absolute;
    width: 1200px;
    height: 666px;
    left: 0px;
    top: 0px;
    background: rgba(140, 79, 42, 0.3);
}

.learn_more {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 0px;
    top: 1590px;
    background-image: url(../assets/background_2.png);
}

.footer {
    position: absolute;
    width: 1200px;
    height: 170px;
    left: 10px;
    top: 2255px;
}

#rectangle{
    /* Rectangle 11 */
    position: absolute;
    width: 1200px;
    height: 200px;
    left: -10px;
    top: 0px;
    background: #464547;
}

/* GRID USED IN THIS STYLE */
.contacts_grid {
    position: relative;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 75px 75px;
    grid-auto-columns: minmax(75px, auto);   
}

.contacts_grid > *{
    font-family: 'Source Sans Pro';
    color: #fff;
    
}

.footer_logo {
    grid-column-start: 0 / 1;
}

#footer_logo_img {
    margin: 0px 5px 0px 0px;
    float: left;
    width: 20px;
    height: 20px;
}

#footer_p {
    margin: 0px 10px;
}

.contacts_street {
    grid-column: 3 / 4;
    grid-row: 1;
}

.contacts_email {
    
    grid-column: 3 / 4;
    grid-row: 2;
}

.contacts_email a {
    text-decoration: none;
    color: #ffffff; 
}

.contacts_paragraph {
    grid-column: 6 / 8;
    grid-row: 2;
}

